In [1]:
!which python

/sw/centos/anaconda3/2019.10/bin/python

In [2]:
import csv
import pandas as pd

# Load the Whole Dataset

In [3]:
df_example_1 = pd.read_csv('UNSW-NB15_1.csv',header=None, low_memory=False)

In [4]:
df_example_1

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699996,59.166.0.8,12520,149.171.126.6,31010,tcp,FIN,0.020383,320,1874,31,...,0,8,20,7,5,1,1,4,NaN,0
699997,59.166.0.0,18895,149.171.126.9,80,tcp,FIN,1.402957,19410,1087890,31,...,0,1,1,2,7,2,2,2,NaN,0
699998,59.166.0.0,30103,149.171.126.5,5190,tcp,FIN,0.007108,2158,2464,31,...,0,13,13,6,7,2,1,2,NaN,0
699999,59.166.0.6,30388,149.171.126.5,111,udp,CON,0.004435,568,304,31,...,0,10,13,6,5,1,1,3,NaN,0
700000,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,NaN,0

In [5]:
df_example_2 = pd.read_csv('UNSW-NB15_2.csv',header=None, low_memory=False)

In [6]:
df_example_2

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0,13,13,6,7,1,1,2,NaN,0
1,59.166.0.0,7832,149.171.126.3,5607,tcp,FIN,0.144951,5174,91072,31,...,0,13,13,6,7,1,1,2,NaN,0
2,59.166.0.8,11397,149.171.126.6,21,tcp,FIN,0.116107,2934,3742,31,...,1,1,2,7,5,1,1,4,NaN,0
3,59.166.0.0,3804,149.171.126.3,53,udp,CON,0.000986,146,178,31,...,0,13,13,6,7,1,1,2,NaN,0
4,59.166.0.8,14339,149.171.126.6,14724,tcp,FIN,0.038480,8928,320,31,...,0,8,20,7,5,1,1,4,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699996,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
699997,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
699998,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
699999,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
700000,59.166.0.1,18247,149.171.126.4,7662,tcp,FIN,0.119596,4550,68342,31,...,,6,2,2,5,1,1,2,NaN,0

In [7]:
df_example_3 = pd.read_csv('UNSW-NB15_3.csv',header=None, low_memory=False)

In [8]:
df_example_3

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.1,18247,149.171.126.4,7662,tcp,FIN,0.119596,4550,68342,31,...,,6,2,2,5,1,1,2,NaN,0
1,59.166.0.3,54771,149.171.126.2,27709,tcp,FIN,0.650574,8928,320,31,...,,3,5,2,4,1,1,4,NaN,0
2,59.166.0.8,13289,149.171.126.9,5190,tcp,FIN,0.007980,2158,2464,31,...,,3,5,1,1,1,1,3,NaN,0
3,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
4,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699996,59.166.0.0,2111,149.171.126.5,53,udp,CON,0.001035,146,178,31,...,,1,3,4,3,1,1,4,NaN,0
699997,59.166.0.5,49044,149.171.126.3,30639,tcp,FIN,0.220630,424,8824,31,...,,3,3,3,3,1,1,4,NaN,0
699998,59.166.0.6,37717,149.171.126.7,35667,tcp,FIN,0.031576,2646,25564,31,...,,7,6,7,4,1,1,3,NaN,0
699999,59.166.0.2,1768,149.171.126.7,64122,tcp,FIN,0.096835,4862,82782,31,...,,6,6,7,7,1,1,2,NaN,0
700000,59.166.0.9,7045,149.171.126.7,25,tcp,FIN,0.201886,37552,3380,31,...,,2,2,7,4,1,1,3,NaN,0

In [9]:
df_example_4 = pd.read_csv('UNSW-NB15_4.csv',header=None, low_memory=False)

In [10]:
df_example_4

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.9,7045,149.171.126.7,25,tcp,FIN,0.201886,37552,3380,31,...,,2,2,7,4,1,1,3,NaN,0
1,59.166.0.9,9685,149.171.126.2,80,tcp,FIN,5.864748,19410,1087890,31,...,,3,1,4,4,1,1,1,NaN,0
2,59.166.0.2,1421,149.171.126.4,53,udp,CON,0.001391,146,178,31,...,,3,5,2,7,1,1,4,NaN,0
3,59.166.0.2,21553,149.171.126.2,25,tcp,FIN,0.053948,37812,3380,31,...,,1,1,4,7,1,1,3,NaN,0
4,59.166.0.8,45212,149.171.126.4,53,udp,CON,0.000953,146,178,31,...,,2,5,2,1,1,1,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440039,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,31,...,,1,2,3,3,1,1,3,NaN,0
440040,59.166.0.7,20848,149.171.126.4,21,tcp,CON,0.365058,456,346,31,...,2,2,2,2,2,2,2,2,NaN,0
440041,59.166.0.3,21511,149.171.126.9,21,tcp,CON,6.335154,1802,2088,31,...,2,2,2,4,2,2,2,2,NaN,0
440042,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,...,,1,1,2,4,2,2,2,NaN,0
440043,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,...,,1,1,2,4,2,2,2,Exploits,1

In [11]:
df_example = pd.concat([df_example_1, df_example_2, df_example_3, df_example_4], axis=0)

In [12]:
df_example

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440039,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,31,...,,1,2,3,3,1,1,3,NaN,0
440040,59.166.0.7,20848,149.171.126.4,21,tcp,CON,0.365058,456,346,31,...,2,2,2,2,2,2,2,2,NaN,0
440041,59.166.0.3,21511,149.171.126.9,21,tcp,CON,6.335154,1802,2088,31,...,2,2,2,4,2,2,2,2,NaN,0
440042,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,...,,1,1,2,4,2,2,2,NaN,0
440043,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,...,,1,1,2,4,2,2,2,Exploits,1

In [13]:
df_example.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,39,40,41,42,43,44,45,46,47,48
0,0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,...,0,3,7,1,3,1,1,1,NaN,0
1,1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,...,0,2,4,2,3,1,1,2,NaN,0
2,2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,...,0,12,8,1,2,2,1,1,NaN,0
3,3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,...,0,6,9,1,1,1,1,1,NaN,0
4,4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,...,0,7,9,1,1,1,1,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540042,440039,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,...,,1,2,3,3,1,1,3,NaN,0
2540043,440040,59.166.0.7,20848,149.171.126.4,21,tcp,CON,0.365058,456,346,...,2,2,2,2,2,2,2,2,NaN,0
2540044,440041,59.166.0.3,21511,149.171.126.9,21,tcp,CON,6.335154,1802,2088,...,2,2,2,4,2,2,2,2,NaN,0
2540045,440042,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,...,,1,1,2,4,2,2,2,NaN,0
2540046,440043,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,...,,1,1,2,4,2,2,2,Exploits,1

In [14]:
df_example[0].unique()

array(['59.166.0.0', '59.166.0.6', '59.166.0.5', '59.166.0.3',
       '10.40.182.3', '59.166.0.7', '10.40.170.2', '59.166.0.1',
       '59.166.0.2', '59.166.0.4', '175.45.176.3', '175.45.176.2',
       '175.45.176.0', '59.166.0.8', '59.166.0.9', '175.45.176.1',
       '10.40.182.1', '10.40.85.1', '192.168.241.243', '10.40.85.30',
       '149.171.126.16', '149.171.126.2', '149.171.126.11',
       '149.171.126.4', '149.171.126.5', '149.171.126.17',
       '149.171.126.19', '149.171.126.9', '149.171.126.8',
       '149.171.126.7', '149.171.126.15', '149.171.126.6',
       '149.171.126.0', '149.171.126.1', '149.171.126.3',
       '149.171.126.13', '149.171.126.12', '149.171.126.10',
       '149.171.126.18', '127.0.0.1', '149.171.126.14', '10.40.85.10',
       '10.40.182.6'], dtype=object)

In [15]:
df_example[2].unique()

array(['149.171.126.6', '149.171.126.9', '149.171.126.7', '149.171.126.5',
       '149.171.126.0', '149.171.126.4', '10.40.182.3', '10.40.170.2',
       '149.171.126.18', '149.171.126.16', '149.171.126.8',
       '149.171.126.2', '149.171.126.1', '149.171.126.10',
       '149.171.126.3', '149.171.126.15', '149.171.126.14',
       '149.171.126.12', '149.171.126.13', '149.171.126.11', '224.0.0.5',
       '149.171.126.17', '149.171.126.19', '192.168.241.243',
       '10.40.85.1', '10.40.85.30', '175.45.176.3', '224.0.0.1',
       '59.166.0.4', '175.45.176.0', '59.166.0.9', '59.166.0.6',
       '175.45.176.2', '59.166.0.2', '59.166.0.5', '59.166.0.7',
       '59.166.0.1', '59.166.0.8', '59.166.0.0', '175.45.176.1',
       '59.166.0.3', '32.50.32.66', '10.40.198.10', '127.0.0.1',
       '192.168.241.50', '10.40.182.255', '10.40.182.6'], dtype=object)

In [16]:
df_example['src_ip_with_port'] = df_example[0].map(str) + ":" + df_example[1].map(str)

In [17]:
df_example

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,src_ip_with_port
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,3,7,1,3,1,1,1,NaN,0,59.166.0.0:1390
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,2,4,2,3,1,1,2,NaN,0,59.166.0.0:33661
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,12,8,1,2,2,1,1,NaN,0,59.166.0.6:1464
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,6,9,1,1,1,1,1,NaN,0,59.166.0.5:3593
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,7,9,1,1,1,1,1,NaN,0,59.166.0.3:49664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440039,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,31,...,1,2,3,3,1,1,3,NaN,0,59.166.0.5:33094
440040,59.166.0.7,20848,149.171.126.4,21,tcp,CON,0.365058,456,346,31,...,2,2,2,2,2,2,2,NaN,0,59.166.0.7:20848
440041,59.166.0.3,21511,149.171.126.9,21,tcp,CON,6.335154,1802,2088,31,...,2,2,4,2,2,2,2,NaN,0,59.166.0.3:21511
440042,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,...,1,1,2,4,2,2,2,NaN,0,59.166.0.9:35433
440043,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,...,1,1,2,4,2,2,2,Exploits,1,175.45.176.0:17293

In [18]:
len(df_example['src_ip_with_port'].unique())

692920

In [19]:
df_example['trg_ip_with_port'] = df_example[2].map(str) + ":" + df_example[3].map(str)

In [20]:
len(df_example['trg_ip_with_port'].unique())

423204

In [21]:
total_node_set = set(df_example['src_ip_with_port'].unique()) | set(df_example['trg_ip_with_port'].unique())

In [22]:
len(total_node_set)

1112287

In [23]:
692920 + 423204

1116124

In [24]:
inter_node_set = set(df_example['src_ip_with_port'].unique()) & set(df_example['trg_ip_with_port'].unique())

In [25]:
len(inter_node_set)

3837

In [26]:
df_example[48].value_counts()

0    2218764
1     321283
Name: 48, dtype: int64

In [27]:
2218764 / 2540047

0.8735129704292873

In [28]:
321283 / 2540047

0.12648702957071267

In [29]:
a = set()
'1' in a

False

# Construct Graph

In [54]:
df_example_1['src_ip_with_port'] = df_example_1[0].map(str) + ":" + df_example_1[1].map(str)
df_example_1['trg_ip_with_port'] = df_example_1[2].map(str) + ":" + df_example_1[3].map(str)
df1_groupby_src = df_example_1.groupby(['src_ip_with_port'])

In [55]:
df_example_2['src_ip_with_port'] = df_example_2[0].map(str) + ":" + df_example_2[1].map(str)
df_example_2['trg_ip_with_port'] = df_example_2[2].map(str) + ":" + df_example_2[3].map(str)
df2_groupby_src = df_example_2.groupby(['src_ip_with_port'])

In [56]:
df_example_3['src_ip_with_port'] = df_example_3[0].map(str) + ":" + df_example_3[1].map(str)
df_example_3['trg_ip_with_port'] = df_example_3[2].map(str) + ":" + df_example_3[3].map(str)
df3_groupby_src = df_example_3.groupby(['src_ip_with_port'])

In [57]:
df_example_4['src_ip_with_port'] = df_example_4[0].map(str) + ":" + df_example_4[1].map(str)
df_example_4['trg_ip_with_port'] = df_example_4[2].map(str) + ":" + df_example_4[3].map(str)
df4_groupby_src = df_example_4.groupby(['src_ip_with_port'])

In [59]:
df_groupby_src = df_example.groupby(['src_ip_with_port'])
len(df_groupby_src)

692920

In [60]:
from collections import Counter
num_attack_per_node = []
num_normal_per_node = []
for node_idx, df_groupby_src_chunk in list(df4_groupby_src):
    cur_labels = df_groupby_src_chunk[48]
    cur_labels = Counter(cur_labels)
    num_attack_per_node.append(cur_labels[1])
    num_normal_per_node.append(cur_labels[0])

In [61]:
assert len(num_attack_per_node) == len(num_normal_per_node)

In [70]:
pure_node_cnt = 0
unpure_node_cnt = 0
pure_node_list = []
unpure_node_list = []
edges_need_removed = 0
for i in range(len(num_attack_per_node)):
    if num_attack_per_node[i] != 0:
        if num_normal_per_node[i] == 0:
            pure_node_cnt += 1
        else:
            unpure_node_cnt += 1
            edges_need_removed += (num_attack_per_node[i] + num_normal_per_node[i])
    else:
        if num_normal_per_node[i] == 0:
            raise Exception("This node has none normal and none attack edges")
        else:
            pure_node_cnt += 1

In [62]:
sample_data_chunks = []
src_iter_cnt = 0
num_attack_nodes = 0
num_attack_nodes_thres = 1000000
num_normal_nodes = 0
num_normal_nodes_thres = 1000000
attack_src_node_set = set()
normal_src_node_set = set()
for node_idx, df_groupby_src_chunk in list(df4_groupby_src):
    if num_attack_per_node[src_iter_cnt] != 0 and num_attack_nodes < num_attack_nodes_thres:
        # print('Node: {}'.format(node_idx))
        # print('Number of attack: {0} \t number of normal: {1}'.format(
        #     num_attack_per_node[src_iter_cnt], num_normal_per_node[src_iter_cnt]))
        sample_data_chunks.append(df_groupby_src_chunk)
        num_attack_nodes += 1
        attack_src_node_set.add(node_idx)
    elif num_attack_per_node[src_iter_cnt] == 0 and num_normal_nodes < num_normal_nodes_thres:
        # print('Node: {}'.format(node_idx))
        # print('Number of attack: {0} \t number of normal: {1}'.format(
        #     num_attack_per_node[src_iter_cnt], num_normal_per_node[src_iter_cnt]))
        sample_data_chunks.append(df_groupby_src_chunk)
        num_normal_nodes += 1
        normal_src_node_set.add(node_idx)
    elif num_attack_nodes >= num_attack_nodes_thres and num_normal_nodes >= num_normal_nodes_thres:
        break
    src_iter_cnt += 1
    if src_iter_cnt % 100000 == 0:
        print("Processed {} src nodes".format(src_iter_cnt))

Processed 100000 src nodes
Processed 200000 src nodes

In [63]:
sample_data_chunks[0]

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,src_ip_with_port,trg_ip_with_port
70,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
1486,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
2949,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
4420,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
5837,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431907,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,2,2,2,2,2,2,NaN,0,10.40.170.2:0,10.40.170.2:0
434534,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,2,2,2,2,2,2,NaN,0,10.40.170.2:0,10.40.170.2:0
434536,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,2,2,2,2,2,2,NaN,0,10.40.170.2:0,10.40.170.2:0
437075,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,2,2,2,2,2,2,NaN,0,10.40.170.2:0,10.40.170.2:0
437077,10.40.170.2,0,10.40.170.2,0,arp,INT,0.0,46,0,0,...,2,2,2,2,2,2,NaN,0,10.40.170.2:0,10.40.170.2:0

In [64]:
df_sample_data = pd.concat(sample_data_chunks, axis=0)

In [65]:
df_sample_data

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,src_ip_with_port,trg_ip_with_port
70,10.40.170.2,0,10.40.170.2,0,arp,INT,0.000000,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
1486,10.40.170.2,0,10.40.170.2,0,arp,INT,0.000000,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
2949,10.40.170.2,0,10.40.170.2,0,arp,INT,0.000000,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
4420,10.40.170.2,0,10.40.170.2,0,arp,INT,0.000000,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
5837,10.40.170.2,0,10.40.170.2,0,arp,INT,0.000000,46,0,0,...,1,1,1,1,1,1,NaN,0,10.40.170.2:0,10.40.170.2:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201219,59.166.0.9,9980,149.171.126.2,6881,tcp,FIN,1.086515,13038,548216,31,...,5,1,3,1,1,5,NaN,0,59.166.0.9:9980,149.171.126.2:6881
138492,59.166.0.9,9985,149.171.126.1,111,udp,CON,0.004746,568,320,31,...,4,5,7,1,1,4,NaN,0,59.166.0.9:9985,149.171.126.1:111
181684,59.166.0.9,9990,149.171.126.4,6881,tcp,FIN,0.018546,1540,1644,31,...,7,8,9,6,1,7,NaN,0,59.166.0.9:9990,149.171.126.4:6881
29447,59.166.0.9,9994,149.171.126.2,42295,tcp,FIN,0.013097,2542,23516,31,...,4,2,2,1,1,2,NaN,0,59.166.0.9:9994,149.171.126.2:42295
435180,59.166.0.9,9996,149.171.126.8,53,udp,CON,0.001067,146,178,31,...,2,2,6,1,1,1,NaN,0,59.166.0.9:9996,149.171.126.8:53

In [66]:
len(list(df_sample_data['src_ip_with_port'].unique()))

240163

In [67]:
len(list(df_sample_data['trg_ip_with_port'].unique()))

87513

In [68]:
ip2id = dict()
id2ip = dict()
# add src node
cnt_node = 0
for ip in list(df_sample_data['src_ip_with_port'].unique()):
    if ip not in ip2id:
        ip2id[ip] = cnt_node
        id2ip[cnt_node] = ip
        cnt_node += 1
print(len(ip2id))
# add trg node
for ip in list(df_sample_data['trg_ip_with_port'].unique()):
    if ip not in ip2id:
        ip2id[ip] = cnt_node
        id2ip[cnt_node] = ip
        cnt_node += 1
print(len(ip2id))

240163
327626

## Save the vocab file

In [74]:
import pickle
with open('vocab/dataset4_ip2id.pickle', 'wb') as handle:
    pickle.dump(ip2id, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open('vocab/dataset4_id2ip.pickle', 'wb') as handle:
    pickle.dump(id2ip, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [69]:
df_sample_data_groupby_srctrg = df_sample_data.groupby(['src_ip_with_port', 'trg_ip_with_port'])

In [71]:
graph_data = []
graph_data_with_label = []
for nodeip, data_chunk in list(df_sample_data_groupby_srctrg):
    src_node_ip = nodeip[0]
    trg_node_ip = nodeip[1]
    num_edges = len(data_chunk)
    counter_label = Counter(data_chunk[48])
    if counter_label[1] != 0:
        current_label = 1
    else:
        current_label = 0
    src_node_id = ip2id[src_node_ip]
    trg_node_id = ip2id[trg_node_ip]
    graph_data.append((src_node_id, trg_node_id, num_edges))
    graph_data_with_label.append((src_node_id, trg_node_id, num_edges, current_label))

In [72]:
graph_data[:20]

[(0, 0, 216),
 (1, 2, 174),
 (1, 240163, 229),
 (2, 2, 216),
 (2, 3, 3),
 (3, 2, 4),
 (4, 240164, 960),
 (5, 72, 82),
 (6, 240165, 75),
 (7, 240166, 1),
 (8, 240166, 1),
 (9, 240166, 1),
 (10, 240166, 1),
 (11, 240166, 1),
 (12, 240166, 1),
 (13, 240166, 1),
 (14, 240166, 1),
 (15, 240166, 1),
 (16, 240166, 1),
 (17, 240166, 1)]

In [77]:
graph_data_with_label[:20]

[(0, 0, 216, 0),
 (1, 2, 174, 0),
 (1, 240163, 229, 0),
 (2, 2, 216, 0),
 (2, 3, 3, 0),
 (3, 2, 4, 0),
 (4, 240164, 960, 0),
 (5, 72, 82, 0),
 (6, 240165, 75, 0),
 (7, 240166, 1, 0),
 (8, 240166, 1, 0),
 (9, 240166, 1, 0),
 (10, 240166, 1, 0),
 (11, 240166, 1, 0),
 (12, 240166, 1, 0),
 (13, 240166, 1, 0),
 (14, 240166, 1, 0),
 (15, 240166, 1, 0),
 (16, 240166, 1, 0),
 (17, 240166, 1, 0)]

In [75]:
# write this edges into file
cnt_line = 0
with open("sample_data_dataset4.txt", 'w') as f:
    for edge_data in graph_data:
        f.write("{} {} {}".format(edge_data[0], edge_data[1], edge_data[2]))
        f.write('\n')
        cnt_line += 1
print("Totally {} lines of data (i.e. edges)".format(cnt_line))

Totally 289185 lines of data (i.e. edges)

In [78]:
# write this edges with label into file
cnt_line = 0
with open("sample_data_withlabel_dataset4.txt", 'w') as f:
    for edge_data in graph_data_with_label:
        f.write("{} {} {} {}".format(edge_data[0], edge_data[1], edge_data[2], edge_data[3]))
        f.write('\n')
        cnt_line += 1
print("Totally {} lines of data (i.e. edges)".format(cnt_line))

Totally 289185 lines of data (i.e. edges)

In [52]:
# which node are attackers?
with open("src_node_label.txt", 'w') as f:
    for src_ip in df_sample_data['src_ip_with_port'].unique():
        f.write("{} {}\n".format(src_ip, 0))