In [1]:
!which python

/sw/centos/anaconda3/2019.10/bin/python

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
dataset_url = './UNSW-NB15_4.csv'
data = pd.read_csv(dataset_url, header=None)
print(data.head())

           0      1              2   3    4    5         6      7        8   \
0  59.166.0.9   7045  149.171.126.7  25  tcp  FIN  0.201886  37552     3380
1  59.166.0.9   9685  149.171.126.2  80  tcp  FIN  5.864748  19410  1087890
2  59.166.0.2   1421  149.171.126.4  53  udp  CON  0.001391    146      178
3  59.166.0.2  21553  149.171.126.2  25  tcp  FIN  0.053948  37812     3380
4  59.166.0.8  45212  149.171.126.4  53  udp  CON  0.000953    146      178

   9   ...  39  40  41 42  43  44  45  46   47  48
0  31  ...       2   2  7   4   1   1   3  NaN   0
1  31  ...       3   1  4   4   1   1   1  NaN   0
2  31  ...       3   5  2   7   1   1   4  NaN   0
3  31  ...       1   1  4   7   1   1   3  NaN   0
4  31  ...       2   5  2   1   1   1   2  NaN   0

[5 rows x 49 columns]

In [5]:
data['src_ip_with_port'] = data[0].map(str) + ":" + data[1].map(str)
data['trg_ip_with_port'] = data[2].map(str) + ":" + data[3].map(str)

In [6]:
print(data.head())

            0      1              2   3    4    5         6      7        8  \
0  59.166.0.9   7045  149.171.126.7  25  tcp  FIN  0.201886  37552     3380
1  59.166.0.9   9685  149.171.126.2  80  tcp  FIN  5.864748  19410  1087890
2  59.166.0.2   1421  149.171.126.4  53  udp  CON  0.001391    146      178
3  59.166.0.2  21553  149.171.126.2  25  tcp  FIN  0.053948  37812     3380
4  59.166.0.8  45212  149.171.126.4  53  udp  CON  0.000953    146      178

    9  ...  41  42  43 44  45  46   47  48  src_ip_with_port  trg_ip_with_port
0  31  ...   2   7   4  1   1   3  NaN   0   59.166.0.9:7045  149.171.126.7:25
1  31  ...   1   4   4  1   1   1  NaN   0   59.166.0.9:9685  149.171.126.2:80
2  31  ...   5   2   7  1   1   4  NaN   0   59.166.0.2:1421  149.171.126.4:53
3  31  ...   1   4   7  1   1   3  NaN   0  59.166.0.2:21553  149.171.126.2:25
4  31  ...   5   2   1  1   1   2  NaN   0  59.166.0.8:45212  149.171.126.4:53

[5 rows x 51 columns]

In [12]:
data_column_names = pd.read_csv('NUSW-NB15_features.csv')

In [25]:
name_list = list(data_column_names['Name'])
name_list.append('src_ip_with_port')
name_list.append('trg_ip_with_port')
print(name_list)

['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes', 'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload', 'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz', 'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime', 'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat', 'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login', 'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat', 'Label', 'src_ip_with_port', 'trg_ip_with_port']

In [26]:
data.columns = name_list

In [27]:
print(data.head())

        srcip  sport          dstip dsport proto state       dur  sbytes  \
0  59.166.0.9   7045  149.171.126.7     25   tcp   FIN  0.201886   37552
1  59.166.0.9   9685  149.171.126.2     80   tcp   FIN  5.864748   19410
2  59.166.0.2   1421  149.171.126.4     53   udp   CON  0.001391     146
3  59.166.0.2  21553  149.171.126.2     25   tcp   FIN  0.053948   37812
4  59.166.0.8  45212  149.171.126.4     53   udp   CON  0.000953     146

    dbytes  sttl  ...  ct_srv_dst  ct_dst_ltm  ct_src_ ltm ct_src_dport_ltm  \
0     3380    31  ...           2           7            4                1
1  1087890    31  ...           1           4            4                1
2      178    31  ...           5           2            7                1
3     3380    31  ...           1           4            7                1
4      178    31  ...           5           2            1                1

   ct_dst_sport_ltm  ct_dst_src_ltm  attack_cat  Label  src_ip_with_port  \
0                 1               3         NaN      0   59.166.0.9:7045
1                 1               1         NaN      0   59.166.0.9:9685
2                 1               4         NaN      0   59.166.0.2:1421
3                 1               3         NaN      0  59.166.0.2:21553
4                 1               2         NaN      0  59.166.0.8:45212

   trg_ip_with_port
0  149.171.126.7:25
1  149.171.126.2:80
2  149.171.126.4:53
3  149.171.126.2:25
4  149.171.126.4:53

[5 rows x 51 columns]

In [28]:
train_data, test_data = train_test_split(data, test_size=0.2)

In [29]:
train_data

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label,src_ip_with_port,trg_ip_with_port
308337,149.171.126.10,47439,175.45.176.0,53,udp,INT,0.000007,264,0,60,...,43,37,37,37,19,43,NaN,0,149.171.126.10:47439,175.45.176.0:53
381911,59.166.0.9,15662,149.171.126.4,13946,tcp,FIN,0.053957,2646,25684,31,...,6,6,2,1,1,1,NaN,0,59.166.0.9:15662,149.171.126.4:13946
22822,59.166.0.8,5516,149.171.126.2,53,udp,CON,0.001023,146,178,31,...,2,1,8,1,1,2,NaN,0,59.166.0.8:5516,149.171.126.2:53
272360,59.166.0.3,23879,149.171.126.6,22905,udp,CON,0.305048,520,304,31,...,9,4,5,1,1,4,NaN,0,59.166.0.3:23879,149.171.126.6:22905
321219,175.45.176.0,1043,149.171.126.10,53,udp,INT,0.000009,114,0,254,...,14,14,14,14,9,14,Generic,1,175.45.176.0:1043,149.171.126.10:53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212995,149.171.126.14,47439,175.45.176.1,53,udp,INT,0.000004,264,0,60,...,25,19,19,19,19,25,NaN,0,149.171.126.14:47439,175.45.176.1:53
195696,59.166.0.5,45669,149.171.126.2,6881,tcp,FIN,0.019771,1540,1644,31,...,19,13,8,6,1,6,NaN,0,59.166.0.5:45669,149.171.126.2:6881
269658,59.166.0.5,61025,149.171.126.8,23273,tcp,FIN,0.053166,2974,34222,31,...,3,3,3,1,1,2,NaN,0,59.166.0.5:61025,149.171.126.8:23273
65784,175.45.176.3,28789,149.171.126.13,21,tcp,FIN,1.239816,572,768,254,...,1,1,1,1,1,1,Fuzzers,1,175.45.176.3:28789,149.171.126.13:21
232006,59.166.0.1,20392,149.171.126.0,80,tcp,FIN,0.003912,1052,824,31,...,1,8,9,2,1,3,NaN,0,59.166.0.1:20392,149.171.126.0:80

In [30]:
test_data

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label,src_ip_with_port,trg_ip_with_port
305795,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000009,114,0,254,...,12,12,12,12,12,12,Generic,1,175.45.176.0:47439,149.171.126.10:53
267448,59.166.0.5,64199,149.171.126.1,53,udp,CON,0.001063,130,162,31,...,3,2,4,1,1,2,NaN,0,59.166.0.5:64199,149.171.126.1:53
158798,59.166.0.6,62877,149.171.126.1,5190,tcp,FIN,0.004815,1470,1728,31,...,2,1,1,1,1,1,NaN,0,59.166.0.6:62877,149.171.126.1:5190
297509,149.171.126.10,47439,175.45.176.0,53,udp,INT,0.000009,264,0,60,...,23,19,19,19,19,23,NaN,0,149.171.126.10:47439,175.45.176.0:53
247851,59.166.0.7,43618,149.171.126.8,111,udp,CON,0.004537,568,320,31,...,5,4,2,1,1,3,NaN,0,59.166.0.7:43618,149.171.126.8:111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141677,175.45.176.1,47439,149.171.126.14,53,udp,INT,0.000009,114,0,254,...,30,18,18,18,18,30,Generic,1,175.45.176.1:47439,149.171.126.14:53
2340,59.166.0.4,33468,149.171.126.1,31029,tcp,FIN,0.027027,2542,22128,31,...,8,3,2,1,1,1,NaN,0,59.166.0.4:33468,149.171.126.1:31029
267153,59.166.0.1,58776,149.171.126.7,22,tcp,FIN,10.215708,36536,77060,31,...,1,6,2,1,1,2,NaN,0,59.166.0.1:58776,149.171.126.7:22
173042,149.171.126.14,47439,175.45.176.1,53,udp,INT,0.000003,264,0,60,...,31,19,19,19,19,31,NaN,0,149.171.126.14:47439,175.45.176.1:53
315945,149.171.126.10,1043,175.45.176.0,53,udp,INT,0.000010,264,0,60,...,41,23,23,23,12,41,NaN,0,149.171.126.10:1043,175.45.176.0:53

In [35]:
from collections import Counter
print("Number of normal data on trainset: {0}, attack data on trainset: {1}. Attack percentage: {2}".format(
    Counter(train_data['Label'])[0],
    Counter(train_data['Label'])[1],
    Counter(train_data['Label'])[1] / (Counter(train_data['Label'])[0] + Counter(train_data['Label'])[1])))
print("Number of normal data on testset: {0}, attack data on testset: {1}. Attack percentage: {2}".format(
    Counter(test_data['Label'])[0],
    Counter(test_data['Label'])[1],
    Counter(test_data['Label'])[1] / (Counter(test_data['Label'])[0] + Counter(test_data['Label'])[1])))

Number of normal data on trainset: 280919, attack data on trainset: 71116. Attack percentage: 0.20201400428934624
Number of normal data on testset: 70231, attack data on testset: 17778. Attack percentage: 0.20200206797032122

In [38]:
train_data.to_csv('UNSW-NB15_4_train.csv',index=False)
test_data.to_csv('UNSW-NB15_4_test.csv',index=False)